.main-page {
  .main-page-container {
    display: flex;
    min-height: inherit;
    .main-page-content {
      padding: 24px 16px 0 32px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    .main-page-welcome {
      display: flex;
      justify-content: center;
      min-height: inherit;
      align-items: center;
      width: 100%;
      .main-page-welcome-title {
        color: var(--grayDark);
      }
    }
  }
}
