.repo-card {
  display: flex;

  padding: 24px;

  height: calc(100vh - 80px);

  max-width: 480px;
  width: 100%;

  background: var(--card-bg);

  position: sticky;
  top: 0px;
  .repo-card-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .no-repo {
    color: var(--card-no-repo);
    position: absolute;
    top: 50%;
  }
}
