$header-height: 80px;
$footer-height: 32px;

.repo-card {
  display: flex;

  padding: 24px;

  min-height: calc(100vh - $header-height - $footer-height);

  max-width: 480px;
  width: 100%;

  background: var(--grayLight);

  .repo-card-container {
    display: flex;
    flex-direction: column;
    align-items: start;

    gap: 20px;

    .repo-card-description {
      height: auto;
      & .MuiChip-label {
        display: block;
        white-space: normal;
        padding: 10px;
      }
    }
  }

  .no-chosen-repo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    color: var(--grayDark);
  }
}
